.custom-display-none {
    display: none !important;
}
.custom-display-block {
    display: block !important;
}
.custom-display-inline-block {
    display: inline-block !important;
}
.errorClass{
    color: red;
    font-size: 12px;
}

.edit-profile__file-upload{
    display: block;
    padding: 10px;
    margin: 21px 0px;
    border-radius: 10px;
}

.singleActive{
    background: #E6EBF5;
    border-radius: 8px;
    margin-bottom: 4px;
}
